@{
    ViewData["Title"] = "Home Page";
}   
@*
    INDEX LANDING PAGE
*@
<section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
        <source src="~/landing/videos/VIDEOVEX.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Hola Estudiantes</h6>
              <h2>#SOMOSACADEMIASTEM</h2>
@*               <p>This is an edu meeting HTML CSS template provided by <a rel="nofollow" href="https://templatemo.com/page/1" target="_blank">TemplateMo website</a>. This is a Bootstrap v5.1.3 layout. The video background is taken from Pexels website, a group of young people by <a rel="nofollow" href="https://www.pexels.com/@@pressmaster" target="_blank">Pressmaster</a>.</p> *@
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Escribe algo</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
            <div class="item">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
            <div class="item">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
            <div class="item">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
                <div class="col-lg-13">
                    <div class="section-heading">
                        <h2 style="font-weight: bold; color: #2c3e50; background-color: #D3D3D3; padding: 10px; border-radius: 5px;">
                            Torneos de la <span style="color:#FF0000;">Academia</span>
                        </h2>
                    </div>
                </div>
        </div>
        <div class="col-lg-3">
          <div class="categories">
            <h4>Categorías:</h4>
           
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                  </div>
                  @*poner img*@
                </div>
                <div class="down-content">
                  <div class="date">
                    
                  </div>
                  <a href="meeting-details.html"><h4>Primaria</h4></a>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                  </div>
                  @*poner img*@
                </div>
                <div class="down-content">
                  <div class="date">
                    
                  </div>
                  <a href="meeting-details.html"><h4>Secundaria</h4></a>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                  </div>
                  @*poner img*@
                </div>
                <div class="down-content">
                  <div class="date">
                    
                  </div>
                  <a href="meeting-details.html"><h4>Preparatoría</h4></a>
                  
                </div>
              </div>
            </div>
            
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3></h3>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact"></a></div>
              </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3></h3>
                <div class="main-button-yellow">
                  <div class="scroll-to-section"><a href="#contact"></a></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
                <div class="accordion-head">
                    <span>                  </span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                          
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span> </span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>               </span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        
                    </div>
                </div>
            </article>
            <article class="accordion last-accordion">
                <div class="accordion-head">
                    <span>                  </span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                       
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>CARRUSELSECCION</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL1</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>
                    <div class="col-4">
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 2</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                     
                    </div>
                    <div class="col-4">
               
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
                        @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 3</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                     
                    </div>
                    <div class="col-4">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 4</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                     
                    </div>
                    <div class="col-4">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
             @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 5</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                    
                    </div>
                    <div class="col-4">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 6</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                    
                    </div>
                    <div class="col-4">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 7</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                     
                    </div>
                    <div class="col-4">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 8</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>
                    <div class="col-4">
                       
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 9</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>
                    <div class="col-4">
                       
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 10</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>
                    <div class="col-4">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 11</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                     
                    </div>
                    <div class="col-4">
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              @*insertar img*@
              <div class="down-content">
                <h4>CARRUSEL 12</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      
                    </div>
                    <div class="col-4">
                       
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>INGRESAR SUBTEMA</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">100</div>
                    <div class="count-title">cuenta de 0 a 100</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">200</div>
                    <div class="count-title">Cuenta de 0 a 200</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">300</div>
                    <div class="count-title">cuenta de 0 a 300</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">400</div>
                    <div class="count-title">cuenta de 0 a 400</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="">
                    <a href="http://youtube.com/watch?v=itSh69qyb9s" target="_blank"><img src="~/landing/images/LOGOSTEM.jpg" class="mx-lg-5 rounded rounded-pill" style="height: 80%; width:80%;" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="..." required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email"  placeholder="..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="..." required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">    </button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>          </h6>
                <span>        </span>
              </li>
              <li>
                <h6>            </h6>
                <span>          </span>
              </li>
              <li>
                <h6>           </h6>
                <span>           </span>
              </li>
              <li>
                <h6>           </h6>
                <span>         </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
        <p>
            
            <br>   <a href="https://templatemo.com" target="_parent" title="free css templates">      </a>
        </p>
    </div>
</section>